# database
DATABASE_URL="mongodb+srv://"

AUTH_SECRET=""
JWT_SECRET=""
AUTH_TRUST_HOST=true

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
CLOUDINARY_UPLOAD_PRESET=""
CLOUDINARY_FOLDER_NAME="uiz"

SENDER_NAME="Quiz App"
SENDER_ADDRESS="no-reply@quizapp.com"
EMAIL_HOST="smtp.gmail.com"
EMAIL_PORT="587"
EMAIL_USER=""
EMAIL_PASS=""

# ------------------
NEXTAUTH_URL="http://localhost:3020"
NEXT_PUBLIC_APP_URL="http://localhost:3020"

NEXT_PUBLIC_TRANSLATION_API=""

GEMINI_API_KEY=""